* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url('../img/tic-tac-toe.png');
  height: 90vh;
}

header {
  width: 70%;
  margin-top: 2%;
  color: #352208;
  background: #ECE4B7;
}

h1 {
  font-size: 3.5em;
  margin: 2% 0%;
  text-align: center;
  font-family: 'Righteous', cursive;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;;
  font-family: 'Roboto Slab', serif;
}

li {
  list-style-type: none;
  font-size: 1.3em;
  margin-right: 5%;
}

a {
  text-decoration: none;
  color: black;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 70%;
  color: #F3F9D2;
  padding: 5% 5%;
  background: #352208;
}

.login, .sign-up {
  font-size: 2em; 
  margin: 1% 1%;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

.sign-up {
  margin-top: 5%;
}

input {
  height: 10%;
  width: 100%;
  font-size: 1.2em;
  margin: 1%;
  padding: 1%;
  border-radius: 6%;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

.searchresult {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 500px;
  width: 100%;
  margin: 0;
  background: #9B1D20;
}

.boxcover {
  max-height: 325px;
  max-width: 35%;
  z-index: 1;
  box-shadow: 12px -11px 11px black;
  margin-bottom: 2%;
}

.boardgamename {
  font-size: 2em;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 1%;
}

.input-field > .addto {
  padding: 10%;
  font-size: .8em;
  margin: 0;
  width: 120px;
}