<h2 class='addgameheader'>Add a Boardgame</h2>

<form action="/boardgame/search" method="POST">
    <p class='input-field'>
      <input type='text' name="title" placeholder='Name of Game'>
    </p>
    <p class='input-field'>
      <input type='submit' value='Search'>
    </p>
</form>