<h3>Add a Boardgame</h3>

<form action="/boardgame/" method="POST">
    <p class='input-field'>
      <input type='text' placeholder='Name of Game'>
    </p>
    <p class='input-field'>
      <input type='submit' value='Add'>
    </p>
</form>