<form action="/boardgame" method="POST">
  <h3>Add a game below</h3>
  <p class='input-field'>
    <input type='text' placeholder='Boardgame'>
  </p>
  <p class='input-field'>
    <input type='text' placeholder='Designer'>
  </p>
  <p class='input-field'>
    <input type='text' placeholder='Genre'>
  </p>
  <p class='input-field'>
    <input type='text' placeholder='Description'>
  </p>
</form>