<div class='boardgame'>
  <p>Hover over the game to add it to your collection!</p>
  <p class='boardgamename'>{{game.info.title}}</p>
  <div class='boxcover'>
  <img href={{game.info.image}}>
  </div>
</div>

