<div class='searchresult'>
    <img class='boxcover' src={{game.info.image}}>
    <p class='boardgamename'>{{game.info.title}}</p>
    
    <form action='/boardgame/update' method='PUT'>
      <p class='input-field'>
        <input class='addto' type='submit' name='{{game.info.title}}' value='+ to Collection'>
      </p>
    </form>
</div>

