<div>
  <h3>Board Game Name here</h3>
  <h3>Designer Here</h3>
  <h3>Genre Here</h3>
  <h3>Rating here</h3>

  <img>
</div>

<section>
  <p>Description of game will go here, for example Codenames is a game with two teams
    where each team has one spy master who gives clues to the rest of his/her team.
    The team then has to use those clues to guess which words displayed on the table are related
  </p>
</section>

