<div class='searchresult'>
    <img class='boxcover' src={{game.info.image}}>
    <p class='boardgamename'>{{game.info.title}}</p>
    
    <form action='/user/{{currentUser._id}}?_method=PUT' method='POST'>
      <p class='input-field'>
        <input type="hidden" name="gameId" value="{{game._id}}">
        <input class='addto' type='submit' value='Add to Collection'>
      </p>
    </form>
</div>

