<div>
  <h3>Collection</h3>
  <section>
    {{#if user.boardgames}}
      <div class='boardgames'>
        {{#each user.boardgames}}
          {{> 'boardgame'}}
        {{/each}}
      </div>
    {{else}}
      <p>You do not own any boardgames yet, traveler.</p>
    {{/if}}
  </section>
</div>