<div class='collection'>
  <h2 class='collectionheader'>Your Collection</h2>
    {{#if user.library}}
      <div class='boardgames'>
        {{#each user.library}}
          {{> 'boardgame'}}
        {{/each}}
      </div>
    {{else}}
      <p class='nogames'>You do not own any boardgames yet, traveler.</p>
      <p class='addgamelink'><a class ='addgame' href='/boardgame/new'>Add a Game</a></p>
    {{/if}}
</div>