<h3 class='login'>Log In</h3>

{{#if loginMessage}}
  <div class="alert alert-danger">{{loginMessage}}</div>
{{/if}}

<form action="/user/login" method="POST">
  <p class='input-field'>
    <input type='text' name='email' placeholder='Email'>
  </p>
  <p class='input-field'>
    <input type='password' name='password' placeholder='Password'>
  </p>
  <p class='input field'>
    <input type='submit' value='Log In'>
  </p>
</form>


<h3 class='sign-up'>Or Sign Up</h3>

{{#if message}}
  <div class="alert alert-danger">{{message}}</div>
{{/if}}

<form action="/user/signUp" method="POST">
  <p class='input-field'>
    <input type='text' name='firstname' placeholder='First Name'>
  </p>
  <p class='input-field'>
    <input type='text' name='email' placeholder='Email'>
  </p>
  <p class='input-field'>
    <input type='password' name='password' placeholder='Password'>
  </p>
  <p class='input-field'>
    <input type='submit' value='Sign Up'>
  </p>
</form>