<h3>Login</h3>
<form action="/use/login" method="POST">
  <p class='input-field'>
    <input type='text' name='email' placeholder='email'>
  </p>
  <p class='input-field'>
    <input type='password' name='password' placeholder='password'>
  </p>
  <p class='input field'>
    <input type='submit' value='Log In'>
  </p>
</form>


<h3>Or Sign Up</h3>
<form action="/user/signUp" method="POST">
  <p class='input-field'>
    <input type='text' name='firstname' placeholder='First Name'>
  </p>
  <p class='input-field'>
    <input type='text' name='email' placeholder='email'>
  </p>
  <p class='input-field'>
    <input type='password' name='password' placeholder='password'>
  </p>
  <p class='input-field'>
    <input type='submit' value='Sign Up'>
  </p>
</form>